<!DOCTYPE html>
<html>

  <head>
    <title>
      Woori's News | {{order_by}}
    </title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>

  <body>
    <header>
      <h1>Woori's News</h1>
      <div>
      Order by:
      {% if order_by == "new" %}         
        <a href = "/?order_by=popular">Popular</a>
        |
        <strong>New</strong>
      {% else %}
        <strong>Popular</strong>
        |
        <a href = "/?order_by=new">New</a>
      {% endif %}
      </div>
    </header>
    <main>
        {% for result in results %}
          <div>
            <div>
              <a href="/{{result.objectID}}">{{result.title}}</a>
              (<a href="{{result.url}}" target = "_blank">{{result.url}}</a>)
            </div>
            <div>
              {{result.points}} points
              |
              By: {{result.author}}
              |
              {{result.comments}} comments
            </div>
            <div>
              <hr />
            </div>
          </div>
        {% endfor %}
    </main>
  </body>
</html>