<!DOCTYPE html>
<html>

  <head>
    <title>
      Woori's News | {{results.title}}
    </title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>

  <body>
    <header>
      <h1>{{results.title}}</h1>
      <div>
        {{results.points}} points
        |
        By: {{results.author}}
        |
        <a href="{{results.url}}" target = "_blank">{{results.url}}</a>
      </div>
    </header>
    <main>
      {% for result in detail %}
        <div>
          <div>
            {% if not result.author %}[deleted]
            {% else %}
            <strong>{{result.author}}:</strong>
            {{result.text | safe}}
            {% endif %}
          </div>
          <div>
            <hr />
          </div>
        </div>
      {% endfor %}
    </main>
  </body>
</html>